*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body{
  background:#0f172a;
  color:#e5e7eb;
  line-height:1.6;
}

/* HERO SECTION */
header{
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  text-align:center;
  background:linear-gradient(120deg,#2563eb,#9333ea);
}

header h1{
  font-size:3rem;
  margin-bottom:10px;
}
header p{
  font-size:1.2rem;
  margin-bottom:20px;
}

.btn{
  display:inline-block;
  padding:12px 28px;
  background:#fff;
  color:#2563eb;
  border-radius:30px;
  text-decoration:none;
  font-weight:600;
  transition:0.3s;
}

.btn:hover{
  background:#e5e7eb;
}

/* COMMON SECTION */
section{
  padding:80px 10%;
}

.title{
  text-align:center;
  font-size:2.2rem;
  margin-bottom:50px;
  color:#38bdf8;
}

/* ABOUT */
.about{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:40px;
  align-items:center;
}

.about img{
  width:100%;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

/* SKILLS */
.skills{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:30px;
}

.card{
  background:#1e293b;
   padding:30px;
  border-radius:20px;
  text-align:center;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-10px);
  box-shadow:0 15px 40px rgba(0,0,0,0.5);
}

/* PROJECTS */
.projects{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
  gap:30px;
}

.project{
  background:#1e293b;
  border-radius:20px;
  overflow:hidden;
  transition:0.3s;
}

.project img{
  width:100%;
  height:180px;
   object-fit:cover;
}

.project div{
  padding:20px;
}

.project:hover{
  transform:scale(1.03);
}

/* FOOTER */
footer{
  background:#020617;
  text-align:center;
  padding:20px;
  margin-top:50px;
}

/* RESPONSIVE */
@media(max-width:768px){
  .about{
    grid-template-columns:1fr;
  }
  header h1{
    font-size:2.2rem;
  }
}